In [1]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv(r"D:\portfolio\Fractal MMM\Assignment\PYQ2\data\mmm_data.csv")

In [3]:
df.head()

,Department,Week_Ending,Year,MAT,Sales,Discount1,Discount2,Holiday Dummy,Total SKU,Gasoline Price,Average Price,Email Clicks,Email Spends,Organic Search Impressions,Modular Video Impressions,Modular Video Spends,Paid Social Impressions,Paid Social Spends,Paid Search Impressions,Paid Search Spends
0,Brand A,2022-02-05 00:00:00,FY_2022,MAT_2022,"5,54,97,076.1",0.0,0.0,-,"2,98,82,443.5","1,070.9",17.7,"5,34,418.5","46,008.3","26,62,747.5","1,15,99,332.5","8,15,221.0","28,04,64,068.5","38,61,346.5","6,779.5",671.9
1,Brand A,2022-02-12 00:00:00,FY_2022,MAT_2022,"5,77,37,793.8",0.0,0.0,-,"2,97,19,511.5","1,070.9",17.7,"6,31,368.5","54,354.7","26,09,978.0","1,31,42,160.5","9,23,653.6","23,50,58,652.5","32,36,218.1","5,110.0",506.5
2,Brand A,2022-02-19 00:00:00,FY_2022,MAT_2022,"5,40,44,453.1",0.1,0.0,-,"2,93,53,173.5","1,070.9",17.8,"6,38,092.0","54,933.6","24,01,283.5","1,29,49,660.5","9,10,124.3","25,74,80,818.0","35,44,919.9","2,842.0",281.7
3,Brand A,2022-02-26 00:00:00,FY_2022,MAT_2022,"5,57,75,814.8",0.1,0.0,-,"2,93,24,354.5","1,070.9",17.8,"5,38,643.0","46,372.0","23,96,597.0","1,24,01,567.5","8,71,603.4","27,68,92,035.0","38,12,167.8","3,031.0",300.4
4,Brand A,2022-03-05 00:00:00,FY_2022,MAT_2022,"5,83,92,060.6",0.0,0.0,-,"2,91,92,688.0","1,282.7",17.8,"6,39,628.5","55,065.8","24,27,106.5","88,57,677.5","6,22,532.7","19,30,81,850.5","26,58,293.9","3,395.0",336.5

In [4]:
df.shape

(122, 20)

In [5]:
df.columns

Index(['Department', 'Week_Ending', 'Year', 'MAT', 'Sales', 'Discount1',
       'Discount2', 'Holiday Dummy', 'Total SKU', 'Gasoline Price',
       'Average Price', 'Email Clicks', 'Email Spends',
       'Organic Search Impressions', 'Modular Video Impressions',
       'Modular Video Spends', 'Paid Social Impressions', 'Paid Social Spends',
       'Paid Search Impressions', 'Paid Search Spends'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Department                  122 non-null    object
 1   Week_Ending                 122 non-null    object
 2   Year                        122 non-null    object
 3   MAT                         122 non-null    object
 4   Sales                       122 non-null    object
 5   Discount1                   122 non-null    float64
 6   Discount2                   122 non-null    float64
 7   Holiday Dummy               122 non-null    object
 8   Total SKU                   122 non-null    object
 9   Gasoline Price              122 non-null    object
 10  Average Price               122 non-null    float64
 11  Email Clicks                122 non-null    object
 12  Email Spends                122 non-null    object
 13  Organic Search Impressions  122 non-null    object
 14  Modular Video Impressions   122 non-null    object
 15  Modular Video Spends        122 non-null    object
 16  Paid Social Impressions     122 non-null    object
 17  Paid Social Spends          122 non-null    object
 18  Paid Search Impressions     122 non-null    object
 19  Paid Search Spends          122 non-null    object
dtypes: float64(3), object(17)
memory usage: 19.2+ KB

The variables cover:

* Sales (dependent)

* Base: Average Price, Total SKU

* Paid Marketing: Paid Search, Paid Social, Modular Video , Emails (Impressions + Spends)

* Non-Paid Marketing: Organic Search Impressions

* Economic: Gasoline Price

* Promotions: Discount1, Discount2

* Events: Holiday

### Data Cleaning & Formatting

- The dataset had several numeric variables (e.g., `Sales`, `Email Clicks`, `Gasoline Price`) formatted in the Indian number system with commas (e.g., `"5,54,97,076.1"`), and also contained dashes (`'-'`) indicating missing values.
    
- These were **cleaned using a custom function** that:
    
    - Replaced commas,
        
    - Stripped whitespace,
        
    - Converted placeholders like `'-'` or `''` into `NaN`,
        
    - Cast values to `float`.

In [ ]:
def clean_numeric_safe(series):
    """
    Cleans a pandas Series containing numeric data represented as strings.

    This function:
    - Converts all values to string to ensure consistency.
    - Removes commas (e.g., converting '1,000' to '1000').
    - Strips leading/trailing whitespace.
    - Replaces dashes ('-') and empty strings ('') with NaN.
    - Converts the cleaned values to floats.

    Parameters:
    series (pd.Series): A pandas Series that may contain numeric values in string format.

    Returns:
    pd.Series: A cleaned Series with float values and NaNs where appropriate.
    """
    return (
        series.astype(str)                          # Ensure all entries are strings
        .str.replace(',', '', regex=False)          # Remove commas from numbers
        .str.strip()                                # Remove whitespace from both ends
        .replace({'-': np.nan, '': np.nan})         # Replace '-' and empty strings with NaN
        .astype(float)                              # Convert cleaned strings to float
    )

# List of column names in the dataframe `df` that require cleaning
columns_to_clean = [
    'Sales', 'Total SKU', 'Gasoline Price',
    'Email Clicks', 'Email Spends',
    'Organic Search Impressions',
    'Modular Video Impressions', 'Modular Video Spends',
    'Paid Social Impressions', 'Paid Social Spends',
    'Paid Search Impressions', 'Paid Search Spends'
]

# Apply the cleaning function to each column in the list
for col in columns_to_clean:
    df[col] = clean_numeric_safe(df[col])

From `Week_Ending`,  we derived key **time features**:

- `Week` (ISO week number)
    
- `Month` (calendar month)
    
- `Year` (calendar year)

These features will be crucial for identifying **seasonality**, running **time series regressions**, and doing **marketing mix optimizations** later.

In [8]:
df['Week_Ending'] = pd.to_datetime(df['Week_Ending'], errors='coerce')
df['Week'] = df['Week_Ending'].dt.isocalendar().week
df['Month'] = df['Week_Ending'].dt.month
df['Year'] = df['Week_Ending'].dt.year

In [9]:
# Clean 'Holiday Dummy' to convert to binary format
df['Holiday Dummy'] = df['Holiday Dummy'].str.strip().replace({'-': np.nan , '': np.nan}).fillna(0)
df['Holiday Dummy'] = df['Holiday Dummy'].astype(float).astype(int)

In [10]:
df['Holiday Dummy'].value_counts()

Holiday Dummy
0    120
1      2
Name: count, dtype: int64

In [ ]:
df.to_csv(r"D:\portfolio\Fractal MMM\Assignment\PYQ2\data\mmm_data_cleaned.csv", index=False)